.gcloudignore
.git*
.editorconfig
.env
.eslint*
.lintstagedrc.js
.huskyrc.js
docker-compose.yml
nodemon.json
LICENSE
*.md
node_modules/
docker/
kubernetes/
integration-sdk/
migrations/
docs/
test/
var/